/*  section-projects-card  */

.section-projects-card {
    margin-top:900px !important;
   
}

.text-projects {
    margin-top: 140px;
    margin-left: 90px;
    color:#0E1520
}


.text-projects-title {
    margin-top: 5px;
    margin-left: 90px;
    color:#0E1520
}


.button-card {
    margin-top: 40px;
    margin-left:260px;
}
  /*  section-projects-card  */